snippet gs "Goods and Services"
goods and services
endsnippet

snippet csm "Cosmopolitanism"
cosmopolitanism
endsnippet

snippet util "Utilitarian"
utilitarian${1:ism}
endsnippet

snippet eqm "Equilibrium"
equilibrium
endsnippet
